nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul:after {
	content: ""; clear: both; display: block;
}
nav ul li {
	float: left;
	width: 129.35px;
	
}
nav ul li:hover {
	background: #4b545f;
}	
nav ul ul {
	border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}		
nav ul ul li a:hover {
	background: #4b545f;
}
nav ul ul ul {
	position: absolute; left: 100%; top:0px;
	
}
nav ul ul ul li {
	border-left: 1px solid #575f6a;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
}

#navi {
	margin-top: -4px;
	height: 26px;
	background-color: #fff;
}
#champs {
	text-align: center;
}

.subMenu li {
	height: 40px;
	vertical-align: middle;
	font-size: 14px;
}
.subMenu li li{
	height: 25px;
	width: 155px;
	font-size: 12px;
}
.subMenu li li a{
	height: 17px;
}