/*******************************************
                  FILTRES
*******************************************/
.repertoire-form-filters{
	margin: 25px 0;
	text-align: right;
}

.repertoire-form-filters table{
	width: 100%;
	table-layout: fixed;
}

/*******************************************
                 FORMULAIRE
*******************************************/

.repertoire-form-content{
	position: relative;
	margin: 25px 0 10px 0;
	min-height: 700px;
}

/** Loading **/
.waiting-repertoire-form{
	background-color: lightgray;
}

.waiting-repertoire-form .form-loader{
	width: 200px;
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.waiting-repertoire-form .form-loader object{
	display: block;
	margin: auto;
}

.waiting-repertoire-form .form-loader label{
	padding: 10px 0px;
	display: block;
	text-align: center;
	font-style: italic;
	color: #4c4c4c;
	font-size: 12px;
}

/*******************************************
      FORMULAIRE DE RENTREE DE SALARIE
*******************************************/

.repertoire-bloc{
	padding: 0;
	margin: 25px auto;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 2px 8px 0 rgba(0, 0, 0, 0.06);
}

.repertoire-bloc fieldset{
	border: none;
	padding: 0;
	/*padding: 15px 0;*/
	margin: 0;
}

.repertoire-bloc fieldset legend{
	padding: 8px 0px 8px 15px;
	font-size: 20px;
	background-color: #1d4c82;
	width: calc(100% - 15px);
	color: white;
}

.repertoire-bloc fieldset legend .required-fields-info{
	font-size: 12px;
	display: block;
	font-style: italic;
}

.repertoire-bloc fieldset table:not(.cursus-table){
	width: calc(100% - 20px);
	table-layout: fixed;
}

.repertoire-bloc fieldset .form_table{
	margin: 0 10px;
	padding: 15px 0;
}

.repertoire-bloc fieldset .form_table td:nth-child(odd){
	padding: 8px;	
	width: 25%;
	text-align: right;
	margin: 50px;
}

.repertoire-bloc fieldset .form_table td:nth-child(even){
	padding: 8px;	
	width: 25%;
	text-align: left;
	margin: 50px;
}

.repertoire-bloc fieldset table tr:empty, .repertoire-bloc fieldset table tr > *:empty{
	height: 25px;
}

.repertoire-bloc fieldset textarea{
	resize: none;
	width: calc(100% - 29px);
	background-color: #cde5f7;
}

.repertoire-bloc fieldset .showcase_table{
	border-collapse: collapse;
	margin: 0;
	width: 100%;
}

.repertoire-bloc fieldset .showcase_table tr{
	height: 35px;
	width: 100%;
	line-height: 35px;
}

.repertoire-bloc fieldset .showcase_table tr:nth-child(even){
	background-color: #f6f6f6;
}

.repertoire-bloc fieldset .showcase_table td:nth-child(even){
	text-align: left;
	padding: 0px 5px; 
}

.repertoire-bloc fieldset .showcase_table td:nth-child(odd){
	text-align: right;
	padding: 0px 5px;
	font-weight: bold;
}

.repertoire-bloc fieldset .showcase_table td i.no-data{
	color: gray;
}

.repertoire-bloc fieldset .showcase-header{
	background-color: white;
	padding: 10px;
	margin-bottom: -25px;
	font-weight: 200;
	font-size: 20px; 
}

.repertoire-bloc fieldset .cursus-table{
	margin: 20px 10px;
	border-collapse: collapse;
	width: calc(100% - 20px);
}

.repertoire-bloc fieldset .cursus-table tr{
	height: 30px;
	background-color: #e7e7e7;
	line-height: 30px;
	vertical-align: middle;
}

.repertoire-bloc fieldset .cursus-table tr td{
	text-align: center;
}

.repertoire-bloc fieldset .cursus-table td.cursus-title{
	font-weight: bold;
	height: 35px;
}

.repertoire-bloc fieldset .cursus-table td.cursus-arrow{
	width: 25px;
}

.repertoire-bloc fieldset .cursus-table td.cursus-arrow img{
	display: block;
}

.repertoire-bloc fieldset .cursus-table td.cursus-details{
	font-style: italic;
}

.repertoire-bloc fieldset .cursus-table td.cursus-contrat{
	width: 28%;
	padding: 5px 0;
}

.repertoire-bloc fieldset .cursus-table td.cursus-contrat div{
	color: white;
	background-color: #446a96;
	margin: 0 30px;
	height: 100%;
	border-radius: 20px;
}

.repertoire-bloc fieldset .cursus-table td.cursus-number{
	font-weight: bold;
	color: white;
	background-color: #446a96;
	padding: 0 1px;
}


.required-top-date{
	padding-left: 15px;
}

.crossNextToField{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.align-center{
	text-align: center !important;
}