nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul:after {
	content: ""; clear: both; display: block;
}
nav ul li {
	float: left;
	width: 115.62px;
}
nav ul li:hover {
	background: #4b545f;
}	
nav ul ul {
	border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}		
nav ul ul li a:hover {
	background: #4b545f;
}

#navi {
	height: 25px;
	margin-top: 0;
	margin-left: 225;
	margin-right: auto;
	padding-top: 79px;
	padding-right: 0px;
	background-color: #fff;
	background: url(images/navi.png) repeat;
}
#champs {
	text-align: center;
}

.subMenu li {
	height: 40px;
	vertical-align: middle;
	font-size: 14px;
}