#labelT {
	text-align: center;
	height: 35px;
	padding-top: 15px;
	font-size: 20px;
	background-color: #cde5f7;
	border: 1px solid #6b727c;
}

#good {
	text-align: center;
	height: 35px;
	padding-top: 15px;
	font-size: 20px;
	background-color: 87f8ab;
}
#bad {
	text-align: center;
	height: 35px;
	padding-top: 15px;
	font-size: 20px;
	background-color: f88787;
}

.listeClients, .listeClients th, .listeClients td {
	border: 1px solid black;
	border-collapse:collapse;
}

#downT {
	background-color: f5f2f5;
	border-top:none;
	border-left:none;
	border-bottom:none;
	border-right:none;
	text-align:none;
	padding-top:20px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	width:100%;
	text-align: center;
}

#corps {
	min-height: 500px;
}

.inputC {
	width:200px;
	background-color: #cde5f7;
}

.buttonC {
	width: 20px;
}